<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav navbar-nav">
                <% if (title !== 'Viewing Parties') {%>
                    <li>
                        <a class="nav-link" href="/">
                            home
                        </a>
                    </li>
                    <% } %>
                    <% if (user) {%>
                        <li>
                            <a class="nav-link" href="/parties/new-party">
                                create a party
                            </a>
                        </li>
                        <% } %>
                        <li>
                            <a class="nav-link" href="/parties">all parties</a>
                        </li>
                    </ul>
                    
                    <ul class="loginout nav navbar-nav">
                        <li>
                            <% if (user) {%>
                                <a class="nav-link" href="/logout">logout</a>
                                <% } else { %>
                                    <a class="nav-link" href="/auth/google">login with google</a>
                                    <% } %>
                                </li>
                            </ul>
                            
                        </nav>
                    </header>
                    <main>
                        