body {
  padding: 50px;
  padding-top: 2vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
input{
  text-align: center;
}
.loginout{
float: right;
}

li {
list-style: none;
}
form h1{
  margin-bottom: 4vh;
}
form{
  width: 40%;
  margin:0 auto;
}
.form-control{
  width: 50%;
  margin: 0 auto;
}
#form-date{
  width: 40%;
  margin: 0 auto;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}
div#show-container{
  margin: 0 auto;
  text-align: center;
}
#show-container div{
  margin: 0 auto;
}
form.page-show-form{
  display: inline-block;
  width: auto;
}

.party-show-page{
  text-align: center;
}

#comment-post-btn{
  padding: 1px 6px;
}

.show-comment-author{
  font-size: 10px;
}

#show-page-comments{
  border-top: 1px solid black;
  width: 40%;
  margin: 0 auto;
  padding-top: 5vh;
}